* {
    font-family: 'Montserrat', sans-serif;
}

.catalog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 64px 0;
}

.typeBar {
    display: flex;
    flex-direction: column;
    width: 224px;
}

.count_device {
    font-weight: 500;
    font-size: 14px;
    color: #898989;
}

.type_device {
    margin-top: 5px;
    font-weight: bold;
    font-size: 32px;
    color: #1B1B1B;
}

.price {
    margin-top: 13px;
    font-weight: bold;
    font-size: 16px;
    color: #1B1B1B;
}

.brand_name {
    font-weight: bold;
    font-size: 16px;
    color: #1B1B1B;
}


.inputBlock {
    margin-top: 12px;
    display: flex;
}

.inputBlock input {
    width: 100%;
    padding: 10px 0 12px 12px ;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.inputBlock input:hover {
    border: 1px solid #A7A7A7;
}

.brand {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    color: #1B1B1B;
}

.brand input {
    width: 18px;
    height: 18px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    margin-right: 9px;
    cursor: pointer;
}

.brand input:hover {
    border: 1px solid #A7A7A7;
}


.brand:last-child {
    margin-bottom: 0;
}

.devices {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-left: 38px;
}

.device {
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;

}

.device_photo {
    position: relative;
    height: 242px;
    width: 242px;
}

.device_photo img {
    width: 100%;
}

.device_newDevice {
    position: absolute;
    top: 0;
    margin-top: 12px;
    margin-left: 12px;
    display: block;
    padding: 5px 10px 7px 10px;
    background: #44C477;
    border-radius: 26px;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.device_wrapper {
    margin: 12px 16px 16px 16px;
}

.device_name {
    width: 202px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #1B1B1B;
}

.device_priceBlock {
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.device_price {
    height: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #1B1B1B;
}

.device_new {
    font-weight: 500;
    font-size: 11px;
    color: #1B1B1B;
    text-align: right;
}

.device_groupBtn {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.device_btn {
    width: 106px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #1B1B1B;
}

.heart {
    width: 20px;
    height: 17px;
    background: url("./icon/heart.png") center center/cover no-repeat;
}


@media (max-width: 1365px) {
    .devices {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1095px) {
    .devices {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .catalog {
        padding: 47px 0 0 20px;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 800px) {
    .typeBar {
        padding-bottom: 15px;
    }
}

@media (max-width: 800px) {
    .devices {
        margin-left: 0;
    }
}

@media (max-width: 800px) {
    .device {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .device_wrapper {
        margin: 20px 16px;
    }
}

@media (max-width: 800px) {
    .device_photo {
        width: 124px;
        height: 124px;
    }
}

@media (max-width: 800px) {
    .device_newDevice {
        display: none;
    }
}
@media (max-width: 800px) {
    .device_name {
      width: 100%;
    }
}

@media (max-width: 768px) {
    .devices {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .device {
        border-bottom: 1px solid #E6E6E6;
        border-left: none;
        border-right: none;
        border-top: none;
    }

    .device:last-child {
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: none;
    }
}

@media (max-width: 375px) {
    .type_device {
        font-size: 26px;
        order: -1;
    }
}

@media (max-width: 375px) {
    .price {
        margin-top: 18px;
    }
}
