* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.catalog {
    width: 1302px;
    display: flex;
    margin: 64px auto;
    /*flex-direction: row;*/
    /*justify-content: center;*/
    /*padding: 64px 0;*/
}

.typeBar {
    display: flex;
    flex-direction: column;
    width: 224px;
}

.count_device {
    font-weight: 500;
    font-size: 14px;
    color: #898989;
}

.type_device {
    margin-top: 5px;
    font-weight: bold;
    font-size: 32px;
    color: #1B1B1B;
}

.price {
    margin-top: 13px;
    font-weight: bold;
    font-size: 16px;
    color: #1B1B1B;
}

.brand_name {
    margin-top: 24px;
    margin-bottom: 13px;
    font-weight: bold;
    font-size: 16px;
    color: #1B1B1B;
}


.inputBlock {
    margin-top: 12px;
    display: flex;
}

.inputBlock input {
    width: 100%;
    padding: 10px 0 12px 12px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.inputBlock input:hover {
    border: 1px solid #A7A7A7;
}

.brand {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    color: #1B1B1B;
}

.brand:last-child {
    margin-bottom: 0;
}


.brand label {
    cursor: pointer;
}

.real-checkbox {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

/*.real-checkbox:focus + .custom-checkbox {*/
/*    box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 0px #7e9bbd;*/
/*}*/

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    margin-right: 9px;
    cursor: pointer;
    background: #ffffff;
    vertical-align: sub;
}

.custom-checkbox:hover {
    border: 1px solid #A7A7A7;
}

.custom-checkbox:before {
    content: '';

    display: inline-block;
    width: 13px;
    height: 13px;

    background-image: url("./icon/check.svg");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
    /*display: none;*/
}

.real-checkbox:checked + .custom-checkbox {
    background: #7993A6;
    /*border: none;*/
}

.real-checkbox:checked + .custom-checkbox:before {
    /*display: inline-block;*/
    transform: translate(-50%, -50%) scale(1);
}

/*.brand input[type='checkbox'] {*/
/*    width: 18px;*/
/*    height: 18px;*/
/*    border: 1px solid #D0D0D0;*/
/*    border-radius: 4px;*/
/*    margin-right: 9px;*/
/*    cursor: pointer;*/
/*}*/

/*.brand input:hover {*/
/*    border: 1px solid #A7A7A7;*/
/*}*/

/*.brand input[type='checkbox']:checked {*/
/*    background: #7993A6*/
/*}*/

.devices {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-left: 38px;
}

.device {
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;

}

.device_photo {
    position: relative;
    height: 242px;
    width: 242px;
}

.device_photo img {
    width: 100%;
}

.device_newDevice {
    position: absolute;
    top: 0;
    margin-top: 12px;
    margin-left: 12px;
    display: block;
    padding: 5px 10px 7px 10px;
    background: #44C477;
    border-radius: 26px;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.device_wrapper {
    width: 210px;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 16px;
}

.device_name {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #1B1B1B;
}

.device_priceBlock {
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.device_price {
    font-weight: bold;
    font-size: 16px;
    color: #1B1B1B;
}

.device_new {
    font-weight: 500;
    font-size: 11px;
    color: #1B1B1B;
}

.device_groupBtn {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.device_btn {
    width: 106px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #1B1B1B;
}

.heart {
    width: 20px;
    height: 17px;
    border: none;
    cursor: pointer;
    background: url("./icon/blackHeart.png") center center/cover no-repeat;
}

.heart_active {
    background: url("./icon/redHeart.png") center center/cover no-repeat;
}


@media (max-width: 1365px) {
    .catalog {
        max-width: 1036px;
    }

    .devices {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1095px) {
    .catalog {
        max-width: 770px;
    }

    .devices {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .catalog {
        max-width: 760px;
        margin: 47px auto;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 800px) {
    .typeBar {
        margin-bottom: 31px;
    }
}

@media (max-width: 800px) {
    .devices {
        gap: 20px;
        margin-left: 0;
    }
}

@media (max-width: 800px) {
    .device {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .device_wrapper {
        margin: 20px 16px;
    }
}

@media (max-width: 800px) {
    .device_photo {
        width: 124px;
        height: 124px;
    }
}

@media (max-width: 800px) {
    .device_newDevice {
        display: none;
    }
}

@media (max-width: 768px) {
    .price {
        margin-top: 18px;
    }
}

@media (max-width: 768px) {
    .catalog {
        max-width: 352px;
    }
}

@media (max-width: 768px) {
    .type_device {
        margin-top: 0;
        margin-bottom: 24px;
        font-size: 26px;
        order: -1;
    }
}

@media (max-width: 768px) {
    .devices {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .device {
        align-items: flex-start;
        border-bottom: 1px solid #E6E6E6;
        border-left: none;
        border-right: none;
        border-top: none;
    }
}

@media (max-width: 768px) {
    .device_wrapper {
        height: 124px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 20px 16px;
    }
}

@media (max-width: 768px) {
    .device_priceBlock {
        margin-top: 0px;
    }
}

@media (max-width: 768px) {
    .device_groupBtn {
        margin-top: 0px;
    }
}

/*@media (max-width: 375px) {*/
/*    .type_device {*/
/*        margin-top: 0;*/
/*        margin-bottom: 24px;*/
/*        font-size: 26px;*/
/*        order: -1;*/
/*    }*/
/*}*/

/*@media (max-width: 375px) {*/
/*    .price {*/
/*        margin-top: 18px;*/
/*    }*/
/*}*/

/*@media (max-width: 375px) {*/
/*    .catalog {*/
/*        max-width: 342px;*/
/*    }*/
/*}*/

/*@media (max-width: 375px) {*/
/*    .device {*/
/*        align-items: flex-start;*/
/*    }*/
/*}*/

/*@media (max-width: 375px) {*/
/*    .device_wrapper {*/
/*        height: 124px;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: space-between;*/
/*        margin: 0 0 20px 16px;*/
/*    }*/
/*}*/

/*@media (max-width: 375px) {*/
/*    .device_priceBlock {*/
/*        margin-top: 0px;*/
/*    }*/
/*}*/

/*@media (max-width: 375px) {*/
/*    .device_groupBtn {*/
/*        margin-top: 0px;*/
/*    }*/
/*}*/
